
<div *ngIf="publicationGouvernementale">
    <h2><span jhiTranslate="biblioApp.publicationGouvernementale.detail.title">Publication Gouvernementale</span> {{publicationGouvernementale.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="biblioApp.publicationGouvernementale.titrePG">Titre PG</span></dt>
        <dd>
            <span>{{publicationGouvernementale.titrePG}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.publicationGouvernementale.datePG">Date PG</span></dt>
        <dd>
            <span>{{publicationGouvernementale.datePG | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.publicationGouvernementale.numeroEditionPG">Numero Edition PG</span></dt>
        <dd>
            <span>{{publicationGouvernementale.numeroEditionPG}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.publicationGouvernementale.lieuPG">Lieu PG</span></dt>
        <dd>
            <span>{{publicationGouvernementale.lieuPG}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.publicationGouvernementale.maisonEditionPG">Maison Edition PG</span></dt>
        <dd>
            <span>{{publicationGouvernementale.maisonEditionPG}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.publicationGouvernementale.languePG">Langue PG</span></dt>
        <dd>
            <span>{{publicationGouvernementale.languePG}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.publicationGouvernementale.lienPG">Lien PG</span></dt>
        <dd>
            <span>{{publicationGouvernementale.lienPG}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.publicationGouvernementale.doiPG">Doi PG</span></dt>
        <dd>
            <span>{{publicationGouvernementale.doiPG}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.publicationGouvernementale.halPG">Hal PG</span></dt>
        <dd>
            <span>{{publicationGouvernementale.halPG}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.publicationGouvernementale.diversOuvragePG">Divers Ouvrage PG</span></dt>
        <dd>
            <span>{{publicationGouvernementale.diversOuvragePG}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'publication-gouvernementale/'+ publicationGouvernementale.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
