<div>
    <h2>
        <span jhiTranslate="biblioApp.publicationGouvernementale.home.title">Publication Gouvernementales</span>
        <button class="btn btn-primary float-right jh-create-entity create-publication-gouvernementale" [routerLink]="['/', { outlets: { popup: ['publication-gouvernementale-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="biblioApp.publicationGouvernementale.home.createLabel">
            Create new Publication Gouvernementale
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="publicationGouvernementales">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="biblioApp.publicationGouvernementale.titrePG">Titre PG</span></th>
            <th><span jhiTranslate="biblioApp.publicationGouvernementale.datePG">Date PG</span></th>
            <th><span jhiTranslate="biblioApp.publicationGouvernementale.numeroEditionPG">Numero Edition PG</span></th>
            <th><span jhiTranslate="biblioApp.publicationGouvernementale.lieuPG">Lieu PG</span></th>
            <th><span jhiTranslate="biblioApp.publicationGouvernementale.maisonEditionPG">Maison Edition PG</span></th>
            <th><span jhiTranslate="biblioApp.publicationGouvernementale.languePG">Langue PG</span></th>
            <th><span jhiTranslate="biblioApp.publicationGouvernementale.lienPG">Lien PG</span></th>
            <th><span jhiTranslate="biblioApp.publicationGouvernementale.doiPG">Doi PG</span></th>
            <th><span jhiTranslate="biblioApp.publicationGouvernementale.halPG">Hal PG</span></th>
            <th><span jhiTranslate="biblioApp.publicationGouvernementale.diversOuvragePG">Divers Ouvrage PG</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let publicationGouvernementale of publicationGouvernementales ;trackBy: trackId">
                <td><a [routerLink]="['../publication-gouvernementale', publicationGouvernementale.id ]">{{publicationGouvernementale.id}}</a></td>
                <td>{{publicationGouvernementale.titrePG}}</td>
                <td>{{publicationGouvernementale.datePG | date:'medium'}}</td>
                <td>{{publicationGouvernementale.numeroEditionPG}}</td>
                <td>{{publicationGouvernementale.lieuPG}}</td>
                <td>{{publicationGouvernementale.maisonEditionPG}}</td>
                <td>{{publicationGouvernementale.languePG}}</td>
                <td>{{publicationGouvernementale.lienPG}}</td>
                <td>{{publicationGouvernementale.doiPG}}</td>
                <td>{{publicationGouvernementale.halPG}}</td>
                <td>{{publicationGouvernementale.diversOuvragePG}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../publication-gouvernementale', publicationGouvernementale.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'publication-gouvernementale/'+ publicationGouvernementale.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'publication-gouvernementale/'+ publicationGouvernementale.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
