<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPublicationGouvernementaleLabel" jhiTranslate="biblioApp.publicationGouvernementale.home.createOrEditLabel">Create or edit a Publication Gouvernementale</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!publicationGouvernementale.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="publicationGouvernementale.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.publicationGouvernementale.titrePG" for="field_titrePG">Titre PG</label>
            <input type="text" class="form-control" name="titrePG" id="field_titrePG"
                [(ngModel)]="publicationGouvernementale.titrePG" required/>
            <div [hidden]="!(editForm.controls.titrePG?.dirty && editForm.controls.titrePG?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.titrePG?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.publicationGouvernementale.datePG" for="field_datePG">Date PG</label>
            <div class="d-flex">
                <input id="field_datePG" type="datetime-local" class="form-control" name="datePG" [(ngModel)]="publicationGouvernementale.datePG"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.publicationGouvernementale.numeroEditionPG" for="field_numeroEditionPG">Numero Edition PG</label>
            <input type="text" class="form-control" name="numeroEditionPG" id="field_numeroEditionPG"
                [(ngModel)]="publicationGouvernementale.numeroEditionPG" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.publicationGouvernementale.lieuPG" for="field_lieuPG">Lieu PG</label>
            <input type="text" class="form-control" name="lieuPG" id="field_lieuPG"
                [(ngModel)]="publicationGouvernementale.lieuPG" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.publicationGouvernementale.maisonEditionPG" for="field_maisonEditionPG">Maison Edition PG</label>
            <input type="text" class="form-control" name="maisonEditionPG" id="field_maisonEditionPG"
                [(ngModel)]="publicationGouvernementale.maisonEditionPG" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.publicationGouvernementale.languePG" for="field_languePG">Langue PG</label>
            <input type="text" class="form-control" name="languePG" id="field_languePG"
                [(ngModel)]="publicationGouvernementale.languePG" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.publicationGouvernementale.lienPG" for="field_lienPG">Lien PG</label>
            <input type="text" class="form-control" name="lienPG" id="field_lienPG"
                [(ngModel)]="publicationGouvernementale.lienPG" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.publicationGouvernementale.doiPG" for="field_doiPG">Doi PG</label>
            <input type="text" class="form-control" name="doiPG" id="field_doiPG"
                [(ngModel)]="publicationGouvernementale.doiPG" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.publicationGouvernementale.halPG" for="field_halPG">Hal PG</label>
            <input type="text" class="form-control" name="halPG" id="field_halPG"
                [(ngModel)]="publicationGouvernementale.halPG" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.publicationGouvernementale.diversOuvragePG" for="field_diversOuvragePG">Divers Ouvrage PG</label>
            <input type="text" class="form-control" name="diversOuvragePG" id="field_diversOuvragePG"
                [(ngModel)]="publicationGouvernementale.diversOuvragePG" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
