<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPublicationGouvernementaleLabel" jhiTranslate="biblioApp.publicationGouvernementale.home.createOrEditLabel">Create or edit a Publication Gouvernementale</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!publicationGouvernementale.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="publicationGouvernementale.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.publicationGouvernementale.idPG" for="field_idPG">Id PG</label>
            <input type="text" class="form-control" name="idPG" id="field_idPG"
                [(ngModel)]="publicationGouvernementale.idPG" required/>
            <div [hidden]="!(editForm.controls.idPG?.dirty && editForm.controls.idPG?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.idPG?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.publicationGouvernementale.date" for="field_date">Date</label>
            <div class="d-flex">
                <input id="field_date" type="datetime-local" class="form-control" name="date" [(ngModel)]="publicationGouvernementale.date"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.publicationGouvernementale.numeroEdition" for="field_numeroEdition">Numero Edition</label>
            <input type="text" class="form-control" name="numeroEdition" id="field_numeroEdition"
                [(ngModel)]="publicationGouvernementale.numeroEdition" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.publicationGouvernementale.lieu" for="field_lieu">Lieu</label>
            <input type="text" class="form-control" name="lieu" id="field_lieu"
                [(ngModel)]="publicationGouvernementale.lieu" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.publicationGouvernementale.maisonEdition" for="field_maisonEdition">Maison Edition</label>
            <input type="text" class="form-control" name="maisonEdition" id="field_maisonEdition"
                [(ngModel)]="publicationGouvernementale.maisonEdition" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
