
<div *ngIf="publication">
    <h2><span jhiTranslate="biblioApp.publication.detail.title">Publication</span> {{publication.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="biblioApp.publication.idPublication">Id Publication</span></dt>
        <dd>
            <span>{{publication.idPublication}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.publication.titre">Titre</span></dt>
        <dd>
            <span>{{publication.titre}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.publication.divers">Divers</span></dt>
        <dd>
            <span>{{publication.divers}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.publication.lien">Lien</span></dt>
        <dd>
            <span>{{publication.lien}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.publication.doi">Doi</span></dt>
        <dd>
            <span>{{publication.doi}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.publication.article">Article</span></dt>
        <dd>
            <div *ngIf="publication.article">
                <a [routerLink]="['/article', publication.article?.id]">{{publication.article?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="biblioApp.publication.communication">Communication</span></dt>
        <dd>
            <div *ngIf="publication.communication">
                <a [routerLink]="['/communication', publication.communication?.id]">{{publication.communication?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="biblioApp.publication.memoire">Memoire</span></dt>
        <dd>
            <div *ngIf="publication.memoire">
                <a [routerLink]="['/memoire', publication.memoire?.id]">{{publication.memoire?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="biblioApp.publication.ouvrage">Ouvrage</span></dt>
        <dd>
            <div *ngIf="publication.ouvrage">
                <a [routerLink]="['/ouvrage', publication.ouvrage?.id]">{{publication.ouvrage?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="biblioApp.publication.publicationGouvernementale">Publication Gouvernementale</span></dt>
        <dd>
            <div *ngIf="publication.publicationGouvernementale">
                <a [routerLink]="['/publication-gouvernementale', publication.publicationGouvernementale?.id]">{{publication.publicationGouvernementale?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="biblioApp.publication.rapport">Rapport</span></dt>
        <dd>
            <div *ngIf="publication.rapport">
                <a [routerLink]="['/rapport', publication.rapport?.id]">{{publication.rapport?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'publication/'+ publication.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
