<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPublicationLabel" jhiTranslate="biblioApp.publication.home.createOrEditLabel">Create or edit a Publication</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!publication.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="publication.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.publication.idPublication" for="field_idPublication">Id Publication</label>
            <input type="text" class="form-control" name="idPublication" id="field_idPublication"
                [(ngModel)]="publication.idPublication" required/>
            <div [hidden]="!(editForm.controls.idPublication?.dirty && editForm.controls.idPublication?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.idPublication?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.publication.titre" for="field_titre">Titre</label>
            <input type="text" class="form-control" name="titre" id="field_titre"
                [(ngModel)]="publication.titre" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.publication.divers" for="field_divers">Divers</label>
            <input type="text" class="form-control" name="divers" id="field_divers"
                [(ngModel)]="publication.divers" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.publication.lien" for="field_lien">Lien</label>
            <input type="text" class="form-control" name="lien" id="field_lien"
                [(ngModel)]="publication.lien" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.publication.doi" for="field_doi">Doi</label>
            <input type="text" class="form-control" name="doi" id="field_doi"
                [(ngModel)]="publication.doi" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.publication.article" for="field_article">Article</label>
            <select class="form-control" id="field_article" name="article" [(ngModel)]="publication.article">
                <option [ngValue]="null"></option>
                <option [ngValue]="articleOption.id === publication.article?.id ? publication.article : articleOption" *ngFor="let articleOption of articles; trackBy: trackArticleById">{{articleOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.publication.communication" for="field_communication">Communication</label>
            <select class="form-control" id="field_communication" name="communication" [(ngModel)]="publication.communication">
                <option [ngValue]="null"></option>
                <option [ngValue]="communicationOption.id === publication.communication?.id ? publication.communication : communicationOption" *ngFor="let communicationOption of communications; trackBy: trackCommunicationById">{{communicationOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.publication.memoire" for="field_memoire">Memoire</label>
            <select class="form-control" id="field_memoire" name="memoire" [(ngModel)]="publication.memoire">
                <option [ngValue]="null"></option>
                <option [ngValue]="memoireOption.id === publication.memoire?.id ? publication.memoire : memoireOption" *ngFor="let memoireOption of memoires; trackBy: trackMemoireById">{{memoireOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.publication.ouvrage" for="field_ouvrage">Ouvrage</label>
            <select class="form-control" id="field_ouvrage" name="ouvrage" [(ngModel)]="publication.ouvrage">
                <option [ngValue]="null"></option>
                <option [ngValue]="ouvrageOption.id === publication.ouvrage?.id ? publication.ouvrage : ouvrageOption" *ngFor="let ouvrageOption of ouvrages; trackBy: trackOuvrageById">{{ouvrageOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.publication.publicationGouvernementale" for="field_publicationGouvernementale">Publication Gouvernementale</label>
            <select class="form-control" id="field_publicationGouvernementale" name="publicationGouvernementale" [(ngModel)]="publication.publicationGouvernementale">
                <option [ngValue]="null"></option>
                <option [ngValue]="publicationGouvernementaleOption.id === publication.publicationGouvernementale?.id ? publication.publicationGouvernementale : publicationGouvernementaleOption" *ngFor="let publicationGouvernementaleOption of publicationgouvernementales; trackBy: trackPublicationGouvernementaleById">{{publicationGouvernementaleOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.publication.rapport" for="field_rapport">Rapport</label>
            <select class="form-control" id="field_rapport" name="rapport" [(ngModel)]="publication.rapport">
                <option [ngValue]="null"></option>
                <option [ngValue]="rapportOption.id === publication.rapport?.id ? publication.rapport : rapportOption" *ngFor="let rapportOption of rapports; trackBy: trackRapportById">{{rapportOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
