<div>
    <h2>
        <span jhiTranslate="biblioApp.communication.home.title">Communications</span>
        <button class="btn btn-primary float-right jh-create-entity create-communication" [routerLink]="['/', { outlets: { popup: ['communication-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="biblioApp.communication.home.createLabel">
            Create new Communication
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="communications">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="biblioApp.communication.titreCommunication">Titre Communication</span></th>
            <th><span jhiTranslate="biblioApp.communication.sousTitreCommunication">Sous Titre Communication</span></th>
            <th><span jhiTranslate="biblioApp.communication.typeCommunication">Type Communication</span></th>
            <th><span jhiTranslate="biblioApp.communication.langueCommunication">Langue Communication</span></th>
            <th><span jhiTranslate="biblioApp.communication.lienCommunication">Lien Communication</span></th>
            <th><span jhiTranslate="biblioApp.communication.doiCommunication">Doi Communication</span></th>
            <th><span jhiTranslate="biblioApp.communication.halCommunication">Hal Communication</span></th>
            <th><span jhiTranslate="biblioApp.communication.diversCommunication">Divers Communication</span></th>
            <th><span jhiTranslate="biblioApp.communication.conference">Conference</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let communication of communications ;trackBy: trackId">
                <td><a [routerLink]="['../communication', communication.id ]">{{communication.id}}</a></td>
                <td>{{communication.titreCommunication}}</td>
                <td>{{communication.sousTitreCommunication}}</td>
                <td jhiTranslate="{{'biblioApp.TypeCommunication.' + communication.typeCommunication}}">{{communication.typeCommunication}}</td>
                <td>{{communication.langueCommunication}}</td>
                <td>{{communication.lienCommunication}}</td>
                <td>{{communication.doiCommunication}}</td>
                <td>{{communication.halCommunication}}</td>
                <td>{{communication.diversCommunication}}</td>
                <td>
                    <div *ngIf="communication.conference">
                        <a [routerLink]="['../conference', communication.conference?.id ]" >{{communication.conference?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../communication', communication.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'communication/'+ communication.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'communication/'+ communication.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
