
<div *ngIf="communication">
    <h2><span jhiTranslate="biblioApp.communication.detail.title">Communication</span> {{communication.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="biblioApp.communication.titreCommunication">Titre Communication</span></dt>
        <dd>
            <span>{{communication.titreCommunication}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.communication.sousTitreCommunication">Sous Titre Communication</span></dt>
        <dd>
            <span>{{communication.sousTitreCommunication}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.communication.typeCommunication">Type Communication</span></dt>
        <dd>
            <span jhiTranslate="{{'biblioApp.TypeCommunication.' + communication.typeCommunication}}">{{communication.typeCommunication}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.communication.langueCommunication">Langue Communication</span></dt>
        <dd>
            <span>{{communication.langueCommunication}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.communication.lienCommunication">Lien Communication</span></dt>
        <dd>
            <span>{{communication.lienCommunication}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.communication.doiCommunication">Doi Communication</span></dt>
        <dd>
            <span>{{communication.doiCommunication}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.communication.halCommunication">Hal Communication</span></dt>
        <dd>
            <span>{{communication.halCommunication}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.communication.diversCommunication">Divers Communication</span></dt>
        <dd>
            <span>{{communication.diversCommunication}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.communication.conference">Conference</span></dt>
        <dd>
            <div *ngIf="communication.conference">
                <a [routerLink]="['/conference', communication.conference?.id]">{{communication.conference?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'communication/'+ communication.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
