<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCommunicationLabel" jhiTranslate="biblioApp.communication.home.createOrEditLabel">Create or edit a Communication</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!communication.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="communication.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.communication.titreCommunication" for="field_titreCommunication">Titre Communication</label>
            <input type="text" class="form-control" name="titreCommunication" id="field_titreCommunication"
                [(ngModel)]="communication.titreCommunication" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.communication.typeCommunication" for="field_typeCommunication">Type Communication</label>
            <select class="form-control" name="typeCommunication" [(ngModel)]="communication.typeCommunication" id="field_typeCommunication" >
                <option value="AFFICHE">{{'biblioApp.TypeCommunication.AFFICHE' | translate}}</option>
                <option value="ATELIER">{{'biblioApp.TypeCommunication.ATELIER' | translate}}</option>
                <option value="TABLE_RONDE">{{'biblioApp.TypeCommunication.TABLE_RONDE' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.communication.langueCommunication" for="field_langueCommunication">Langue Communication</label>
            <input type="text" class="form-control" name="langueCommunication" id="field_langueCommunication"
                [(ngModel)]="communication.langueCommunication" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.communication.lienCommunication" for="field_lienCommunication">Lien Communication</label>
            <input type="text" class="form-control" name="lienCommunication" id="field_lienCommunication"
                [(ngModel)]="communication.lienCommunication" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.communication.doiCommunication" for="field_doiCommunication">Doi Communication</label>
            <input type="text" class="form-control" name="doiCommunication" id="field_doiCommunication"
                [(ngModel)]="communication.doiCommunication" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.communication.halCommunication" for="field_halCommunication">Hal Communication</label>
            <input type="text" class="form-control" name="halCommunication" id="field_halCommunication"
                [(ngModel)]="communication.halCommunication" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.communication.diversCommunication" for="field_diversCommunication">Divers Communication</label>
            <input type="text" class="form-control" name="diversCommunication" id="field_diversCommunication"
                [(ngModel)]="communication.diversCommunication" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.communication.conference" for="field_conference">Conference</label>
            <select class="form-control" id="field_conference" name="conference" [(ngModel)]="communication.conference" >
                <option [ngValue]="null"></option>
                <option [ngValue]="conferenceOption.id === communication.conference?.id ? communication.conference : conferenceOption" *ngFor="let conferenceOption of conferences; trackBy: trackConferenceById">{{conferenceOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
