<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myArticleLabel" jhiTranslate="biblioApp.article.home.createOrEditLabel">Create or edit a Article</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!article.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="article.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.article.titreArticle" for="field_titreArticle">Titre Article</label>
            <input type="text" class="form-control" name="titreArticle" id="field_titreArticle"
                [(ngModel)]="article.titreArticle" required/>
            <div [hidden]="!(editForm.controls.titreArticle?.dirty && editForm.controls.titreArticle?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.titreArticle?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.article.sousTitreArticle" for="field_sousTitreArticle">Sous Titre Article</label>
            <input type="text" class="form-control" name="sousTitreArticle" id="field_sousTitreArticle"
                [(ngModel)]="article.sousTitreArticle" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.article.typeArticle" for="field_typeArticle">Type Article</label>
            <select class="form-control" name="typeArticle" [(ngModel)]="article.typeArticle" id="field_typeArticle" >
                <option value="PUBLIE">{{'biblioApp.TypeArticle.PUBLIE' | translate}}</option>
                <option value="EN_PREPUBLICATION">{{'biblioApp.TypeArticle.EN_PREPUBLICATION' | translate}}</option>
                <option value="SOUS_PRESSE">{{'biblioApp.TypeArticle.SOUS_PRESSE' | translate}}</option>
                <option value="COURT">{{'biblioApp.TypeArticle.COURT' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.article.pageDebutArticle" for="field_pageDebutArticle">Page Debut Article</label>
            <input type="text" class="form-control" name="pageDebutArticle" id="field_pageDebutArticle"
                [(ngModel)]="article.pageDebutArticle" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.article.pageFinArticle" for="field_pageFinArticle">Page Fin Article</label>
            <input type="text" class="form-control" name="pageFinArticle" id="field_pageFinArticle"
                [(ngModel)]="article.pageFinArticle" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.article.langueArticle" for="field_langueArticle">Langue Article</label>
            <input type="text" class="form-control" name="langueArticle" id="field_langueArticle"
                [(ngModel)]="article.langueArticle" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.article.lienArticle" for="field_lienArticle">Lien Article</label>
            <input type="text" class="form-control" name="lienArticle" id="field_lienArticle"
                [(ngModel)]="article.lienArticle" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.article.halArticle" for="field_halArticle">Hal Article</label>
            <input type="text" class="form-control" name="halArticle" id="field_halArticle"
                [(ngModel)]="article.halArticle" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.article.diversArticle" for="field_diversArticle">Divers Article</label>
            <input type="text" class="form-control" name="diversArticle" id="field_diversArticle"
                [(ngModel)]="article.diversArticle" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.article.numeroRevue" for="field_numeroRevue">Numero Revue</label>
            <select class="form-control" id="field_numeroRevue" name="numeroRevue" [(ngModel)]="article.numeroRevue" >
                <option [ngValue]="null"></option>
                <option [ngValue]="numeroRevueOption.id === article.numeroRevue?.id ? article.numeroRevue : numeroRevueOption" *ngFor="let numeroRevueOption of numerorevues; trackBy: trackNumeroRevueById">{{numeroRevueOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.article.actes" for="field_actes">Actes</label>
            <select class="form-control" id="field_actes" name="actes" [(ngModel)]="article.actes" >
                <option [ngValue]="null"></option>
                <option [ngValue]="actesOption.id === article.actes?.id ? article.actes : actesOption" *ngFor="let actesOption of actes; trackBy: trackActesById">{{actesOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.article.conference" for="field_conference">Conference</label>
            <select class="form-control" id="field_conference" name="conference" [(ngModel)]="article.conference" >
                <option [ngValue]="null"></option>
                <option [ngValue]="conferenceOption.id === article.conference?.id ? article.conference : conferenceOption" *ngFor="let conferenceOption of conferences; trackBy: trackConferenceById">{{conferenceOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.auteur?.dirty && editForm.controls.auteur?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.auteur?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
