<div>
    <h2>
        <span jhiTranslate="biblioApp.article.home.title">Articles</span>
        <button class="btn btn-primary float-right jh-create-entity create-article" [routerLink]="['/', { outlets: { popup: ['article-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="biblioApp.article.home.createLabel">
            Create new Article
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="articles">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="biblioApp.article.titreArticle">Titre Article</span></th>
            <th><span jhiTranslate="biblioApp.article.sousTitreArticle">Sous Titre Article</span></th>
            <th><span jhiTranslate="biblioApp.article.typeArticle">Type Article</span></th>
            <th><span jhiTranslate="biblioApp.article.pageDebutArticle">Page Debut Article</span></th>
            <th><span jhiTranslate="biblioApp.article.pageFinArticle">Page Fin Article</span></th>
            <th><span jhiTranslate="biblioApp.article.langueArticle">Langue Article</span></th>
            <th><span jhiTranslate="biblioApp.article.lienArticle">Lien Article</span></th>
            <th><span jhiTranslate="biblioApp.article.halArticle">Hal Article</span></th>
            <th><span jhiTranslate="biblioApp.article.diversArticle">Divers Article</span></th>
            <th><span jhiTranslate="biblioApp.article.numeroRevue">Numero Revue</span></th>
            <th><span jhiTranslate="biblioApp.article.actes">Actes</span></th>
            <th><span jhiTranslate="biblioApp.article.conference">Conference</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let article of articles ;trackBy: trackId">
                <td><a [routerLink]="['../article', article.id ]">{{article.id}}</a></td>
                <td>{{article.titreArticle}}</td>
                <td>{{article.sousTitreArticle}}</td>
                <td jhiTranslate="{{'biblioApp.TypeArticle.' + article.typeArticle}}">{{article.typeArticle}}</td>
                <td>{{article.pageDebutArticle}}</td>
                <td>{{article.pageFinArticle}}</td>
                <td>{{article.langueArticle}}</td>
                <td>{{article.lienArticle}}</td>
                <td>{{article.halArticle}}</td>
                <td>{{article.diversArticle}}</td>
                <td>
                    <div *ngIf="article.numeroRevue">
                        <a [routerLink]="['../numero-revue', article.numeroRevue?.id ]" >{{article.numeroRevue?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="article.actes">
                        <a [routerLink]="['../actes', article.actes?.id ]" >{{article.actes?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="article.conference">
                        <a [routerLink]="['../conference', article.conference?.id ]" >{{article.conference?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../article', article.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'article/'+ article.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'article/'+ article.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
