<div>
    <h2>
        <span jhiTranslate="biblioApp.article.home.title">Articles</span>
        <button class="btn btn-primary float-right jh-create-entity create-article" [routerLink]="['/', { outlets: { popup: ['article-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="biblioApp.article.home.createLabel">
            Create new Article
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="articles">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="biblioApp.article.idArticle">Id Article</span></th>
            <th><span jhiTranslate="biblioApp.article.type">Type</span></th>
            <th><span jhiTranslate="biblioApp.article.pageDebut">Page Debut</span></th>
            <th><span jhiTranslate="biblioApp.article.pageFin">Page Fin</span></th>
            <th><span jhiTranslate="biblioApp.article.hal">Hal</span></th>
            <th><span jhiTranslate="biblioApp.article.numeroRevue">Numero Revue</span></th>
            <th><span jhiTranslate="biblioApp.article.acte">Acte</span></th>
            <th><span jhiTranslate="biblioApp.article.conference">Conference</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let article of articles ;trackBy: trackId">
                <td><a [routerLink]="['../article', article.id ]">{{article.id}}</a></td>
                <td>{{article.idArticle}}</td>
                <td jhiTranslate="{{'biblioApp.TypeArticle.' + article.type}}">{{article.type}}</td>
                <td>{{article.pageDebut}}</td>
                <td>{{article.pageFin}}</td>
                <td>{{article.hal}}</td>
                <td>
                    <div *ngIf="article.numeroRevue">
                        <a [routerLink]="['../numero-revue', article.numeroRevue?.id ]" >{{article.numeroRevue?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="article.acte">
                        <a [routerLink]="['../acte', article.acte?.id ]" >{{article.acte?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="article.conference">
                        <a [routerLink]="['../conference', article.conference?.id ]" >{{article.conference?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../article', article.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'article/'+ article.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'article/'+ article.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
