
<div *ngIf="conference">
    <h2><span jhiTranslate="biblioApp.conference.detail.title">Conference</span> {{conference.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="biblioApp.conference.nomConference">Nom Conference</span></dt>
        <dd>
            <span>{{conference.nomConference}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.conference.typeConference">Type Conference</span></dt>
        <dd>
            <span jhiTranslate="{{'biblioApp.TypeConference.' + conference.typeConference}}">{{conference.typeConference}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.conference.audienceConference">Audience Conference</span></dt>
        <dd>
            <span jhiTranslate="{{'biblioApp.Audience.' + conference.audienceConference}}">{{conference.audienceConference}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.conference.comiteSelectionConference">Comite Selection Conference</span></dt>
        <dd>
            <span>{{conference.comiteSelectionConference}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.conference.dateDebutConference">Date Debut Conference</span></dt>
        <dd>
            <span>{{conference.dateDebutConference | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.conference.dateFinConference">Date Fin Conference</span></dt>
        <dd>
            <span>{{conference.dateFinConference | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.conference.villeConference">Ville Conference</span></dt>
        <dd>
            <span>{{conference.villeConference}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.conference.paysConference">Pays Conference</span></dt>
        <dd>
            <span>{{conference.paysConference}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.conference.langueConference">Langue Conference</span></dt>
        <dd>
            <span>{{conference.langueConference}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.conference.lienSiteConference">Lien Site Conference</span></dt>
        <dd>
            <span>{{conference.lienSiteConference}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.conference.diversConference">Divers Conference</span></dt>
        <dd>
            <span>{{conference.diversConference}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'conference/'+ conference.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
