<div>
    <h2>
        <span jhiTranslate="biblioApp.conference.home.title">Conferences</span>
        <button class="btn btn-primary float-right jh-create-entity create-conference" [routerLink]="['/', { outlets: { popup: ['conference-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="biblioApp.conference.home.createLabel">
            Create new Conference
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="conferences">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="biblioApp.conference.idConference">Id Conference</span></th>
            <th><span jhiTranslate="biblioApp.conference.type">Type</span></th>
            <th><span jhiTranslate="biblioApp.conference.nom">Nom</span></th>
            <th><span jhiTranslate="biblioApp.conference.audience">Audience</span></th>
            <th><span jhiTranslate="biblioApp.conference.comiteSelection">Comite Selection</span></th>
            <th><span jhiTranslate="biblioApp.conference.editeur">Editeur</span></th>
            <th><span jhiTranslate="biblioApp.conference.dateDebut">Date Debut</span></th>
            <th><span jhiTranslate="biblioApp.conference.dateFin">Date Fin</span></th>
            <th><span jhiTranslate="biblioApp.conference.ville">Ville</span></th>
            <th><span jhiTranslate="biblioApp.conference.pays">Pays</span></th>
            <th><span jhiTranslate="biblioApp.conference.lienSite">Lien Site</span></th>
            <th><span jhiTranslate="biblioApp.conference.lienActes">Lien Actes</span></th>
            <th><span jhiTranslate="biblioApp.conference.divers">Divers</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let conference of conferences ;trackBy: trackId">
                <td><a [routerLink]="['../conference', conference.id ]">{{conference.id}}</a></td>
                <td>{{conference.idConference}}</td>
                <td jhiTranslate="{{'biblioApp.TypeConference.' + conference.type}}">{{conference.type}}</td>
                <td>{{conference.nom}}</td>
                <td jhiTranslate="{{'biblioApp.Audience.' + conference.audience}}">{{conference.audience}}</td>
                <td>{{conference.comiteSelection}}</td>
                <td>{{conference.editeur}}</td>
                <td>{{conference.dateDebut | date:'medium'}}</td>
                <td>{{conference.dateFin | date:'medium'}}</td>
                <td>{{conference.ville}}</td>
                <td>{{conference.pays}}</td>
                <td>{{conference.lienSite}}</td>
                <td>{{conference.lienActes}}</td>
                <td>{{conference.divers}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../conference', conference.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'conference/'+ conference.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'conference/'+ conference.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
