<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myConferenceLabel" jhiTranslate="biblioApp.conference.home.createOrEditLabel">Create or edit a Conference</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!conference.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="conference.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.conference.idConference" for="field_idConference">Id Conference</label>
            <input type="text" class="form-control" name="idConference" id="field_idConference"
                [(ngModel)]="conference.idConference" required/>
            <div [hidden]="!(editForm.controls.idConference?.dirty && editForm.controls.idConference?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.idConference?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.conference.type" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="conference.type" id="field_type" >
                <option value="CONFERENCE">{{'biblioApp.TypeConference.CONFERENCE' | translate}}</option>
                <option value="COLLOQUE">{{'biblioApp.TypeConference.COLLOQUE' | translate}}</option>
                <option value="JOURNEE_ETUDE">{{'biblioApp.TypeConference.JOURNEE_ETUDE' | translate}}</option>
                <option value="JOURNEE_ATELIERS">{{'biblioApp.TypeConference.JOURNEE_ATELIERS' | translate}}</option>
                <option value="SEMINAIRE">{{'biblioApp.TypeConference.SEMINAIRE' | translate}}</option>
                <option value="SYMPOSIUM">{{'biblioApp.TypeConference.SYMPOSIUM' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.conference.nom" for="field_nom">Nom</label>
            <input type="text" class="form-control" name="nom" id="field_nom"
                [(ngModel)]="conference.nom" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.conference.audience" for="field_audience">Audience</label>
            <select class="form-control" name="audience" [(ngModel)]="conference.audience" id="field_audience" >
                <option value="NATIONALE">{{'biblioApp.Audience.NATIONALE' | translate}}</option>
                <option value="INTERNATIONALE">{{'biblioApp.Audience.INTERNATIONALE' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.conference.comiteSelection" for="field_comiteSelection">Comite Selection</label>
            <input type="checkbox" class="form-control" name="comiteSelection" id="field_comiteSelection"
                [(ngModel)]="conference.comiteSelection" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.conference.editeur" for="field_editeur">Editeur</label>
            <input type="text" class="form-control" name="editeur" id="field_editeur"
                [(ngModel)]="conference.editeur" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.conference.dateDebut" for="field_dateDebut">Date Debut</label>
            <div class="d-flex">
                <input id="field_dateDebut" type="datetime-local" class="form-control" name="dateDebut" [(ngModel)]="conference.dateDebut"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.conference.dateFin" for="field_dateFin">Date Fin</label>
            <div class="d-flex">
                <input id="field_dateFin" type="datetime-local" class="form-control" name="dateFin" [(ngModel)]="conference.dateFin"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.conference.ville" for="field_ville">Ville</label>
            <input type="text" class="form-control" name="ville" id="field_ville"
                [(ngModel)]="conference.ville" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.conference.pays" for="field_pays">Pays</label>
            <input type="text" class="form-control" name="pays" id="field_pays"
                [(ngModel)]="conference.pays" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.conference.lienSite" for="field_lienSite">Lien Site</label>
            <input type="text" class="form-control" name="lienSite" id="field_lienSite"
                [(ngModel)]="conference.lienSite" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.conference.lienActes" for="field_lienActes">Lien Actes</label>
            <input type="text" class="form-control" name="lienActes" id="field_lienActes"
                [(ngModel)]="conference.lienActes" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.conference.divers" for="field_divers">Divers</label>
            <input type="text" class="form-control" name="divers" id="field_divers"
                [(ngModel)]="conference.divers" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
