<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myConferenceLabel" jhiTranslate="biblioApp.conference.home.createOrEditLabel">Create or edit a Conference</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!conference.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="conference.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.conference.nomConference" for="field_nomConference">Nom Conference</label>
            <input type="text" class="form-control" name="nomConference" id="field_nomConference"
                [(ngModel)]="conference.nomConference" required/>
            <div [hidden]="!(editForm.controls.nomConference?.dirty && editForm.controls.nomConference?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nomConference?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.conference.typeConference" for="field_typeConference">Type Conference</label>
            <select class="form-control" name="typeConference" [(ngModel)]="conference.typeConference" id="field_typeConference" >
                <option value="CONFERENCE">{{'biblioApp.TypeConference.CONFERENCE' | translate}}</option>
                <option value="COLLOQUE">{{'biblioApp.TypeConference.COLLOQUE' | translate}}</option>
                <option value="JOURNEE_ETUDE">{{'biblioApp.TypeConference.JOURNEE_ETUDE' | translate}}</option>
                <option value="JOURNEE_ATELIERS">{{'biblioApp.TypeConference.JOURNEE_ATELIERS' | translate}}</option>
                <option value="SEMINAIRE">{{'biblioApp.TypeConference.SEMINAIRE' | translate}}</option>
                <option value="SYMPOSIUM">{{'biblioApp.TypeConference.SYMPOSIUM' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.conference.audienceConference" for="field_audienceConference">Audience Conference</label>
            <select class="form-control" name="audienceConference" [(ngModel)]="conference.audienceConference" id="field_audienceConference" >
                <option value="NATIONALE">{{'biblioApp.Audience.NATIONALE' | translate}}</option>
                <option value="INTERNATIONALE">{{'biblioApp.Audience.INTERNATIONALE' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.conference.comiteSelectionConference" for="field_comiteSelectionConference">Comite Selection Conference</label>
            <input type="checkbox" class="form-control" name="comiteSelectionConference" id="field_comiteSelectionConference"
                [(ngModel)]="conference.comiteSelectionConference" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.conference.dateDebutConference" for="field_dateDebutConference">Date Debut Conference</label>
            <div class="d-flex">
                <input id="field_dateDebutConference" type="datetime-local" class="form-control" name="dateDebutConference" [(ngModel)]="conference.dateDebutConference"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.conference.dateFinConference" for="field_dateFinConference">Date Fin Conference</label>
            <div class="d-flex">
                <input id="field_dateFinConference" type="datetime-local" class="form-control" name="dateFinConference" [(ngModel)]="conference.dateFinConference"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.conference.villeConference" for="field_villeConference">Ville Conference</label>
            <input type="text" class="form-control" name="villeConference" id="field_villeConference"
                [(ngModel)]="conference.villeConference" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.conference.paysConference" for="field_paysConference">Pays Conference</label>
            <input type="text" class="form-control" name="paysConference" id="field_paysConference"
                [(ngModel)]="conference.paysConference" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.conference.langueConference" for="field_langueConference">Langue Conference</label>
            <input type="text" class="form-control" name="langueConference" id="field_langueConference"
                [(ngModel)]="conference.langueConference" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.conference.lienSiteConference" for="field_lienSiteConference">Lien Site Conference</label>
            <input type="text" class="form-control" name="lienSiteConference" id="field_lienSiteConference"
                [(ngModel)]="conference.lienSiteConference" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.conference.diversConference" for="field_diversConference">Divers Conference</label>
            <input type="text" class="form-control" name="diversConference" id="field_diversConference"
                [(ngModel)]="conference.diversConference" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
