
<div *ngIf="rapport">
    <h2><span jhiTranslate="biblioApp.rapport.detail.title">Rapport</span> {{rapport.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="biblioApp.rapport.titreRapport">Titre Rapport</span></dt>
        <dd>
            <span>{{rapport.titreRapport}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.rapport.sousTitreRapport">Sous Titre Rapport</span></dt>
        <dd>
            <span>{{rapport.sousTitreRapport}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.rapport.typeRapport">Type Rapport</span></dt>
        <dd>
            <span jhiTranslate="{{'biblioApp.TypeRapport.' + rapport.typeRapport}}">{{rapport.typeRapport}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.rapport.statut">Statut</span></dt>
        <dd>
            <span jhiTranslate="{{'biblioApp.Statut.' + rapport.statut}}">{{rapport.statut}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.rapport.dateRapport">Date Rapport</span></dt>
        <dd>
            <span>{{rapport.dateRapport | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.rapport.lieuRapport">Lieu Rapport</span></dt>
        <dd>
            <span>{{rapport.lieuRapport}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.rapport.maisonEditionRapport">Maison Edition Rapport</span></dt>
        <dd>
            <span>{{rapport.maisonEditionRapport}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.rapport.langueRapport">Langue Rapport</span></dt>
        <dd>
            <span>{{rapport.langueRapport}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.rapport.lienRapport">Lien Rapport</span></dt>
        <dd>
            <span>{{rapport.lienRapport}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.rapport.doiRapport">Doi Rapport</span></dt>
        <dd>
            <span>{{rapport.doiRapport}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.rapport.halRapport">Hal Rapport</span></dt>
        <dd>
            <span>{{rapport.halRapport}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.rapport.diversOuvrageRapport">Divers Ouvrage Rapport</span></dt>
        <dd>
            <span>{{rapport.diversOuvrageRapport}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'rapport/'+ rapport.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
