<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRapportLabel" jhiTranslate="biblioApp.rapport.home.createOrEditLabel">Create or edit a Rapport</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!rapport.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="rapport.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.rapport.titreRapport" for="field_titreRapport">Titre Rapport</label>
            <input type="text" class="form-control" name="titreRapport" id="field_titreRapport"
                [(ngModel)]="rapport.titreRapport" required/>
            <div [hidden]="!(editForm.controls.titreRapport?.dirty && editForm.controls.titreRapport?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.titreRapport?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.rapport.sousTitreRapport" for="field_sousTitreRapport">Sous Titre Rapport</label>
            <input type="text" class="form-control" name="sousTitreRapport" id="field_sousTitreRapport"
                [(ngModel)]="rapport.sousTitreRapport" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.rapport.typeRapport" for="field_typeRapport">Type Rapport</label>
            <select class="form-control" name="typeRapport" [(ngModel)]="rapport.typeRapport" id="field_typeRapport" >
                <option value="RECHERCHE">{{'biblioApp.TypeRapport.RECHERCHE' | translate}}</option>
                <option value="PROJET">{{'biblioApp.TypeRapport.PROJET' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.rapport.dateRapport" for="field_dateRapport">Date Rapport</label>
            <div class="d-flex">
                <input id="field_dateRapport" type="datetime-local" class="form-control" name="dateRapport" [(ngModel)]="rapport.dateRapport"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.rapport.lieuRapport" for="field_lieuRapport">Lieu Rapport</label>
            <input type="text" class="form-control" name="lieuRapport" id="field_lieuRapport"
                [(ngModel)]="rapport.lieuRapport" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.rapport.maisonEditionRapport" for="field_maisonEditionRapport">Maison Edition Rapport</label>
            <input type="text" class="form-control" name="maisonEditionRapport" id="field_maisonEditionRapport"
                [(ngModel)]="rapport.maisonEditionRapport" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.rapport.langueRapport" for="field_langueRapport">Langue Rapport</label>
            <input type="text" class="form-control" name="langueRapport" id="field_langueRapport"
                [(ngModel)]="rapport.langueRapport" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.rapport.lienRapport" for="field_lienRapport">Lien Rapport</label>
            <input type="text" class="form-control" name="lienRapport" id="field_lienRapport"
                [(ngModel)]="rapport.lienRapport" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.rapport.doiRapport" for="field_doiRapport">Doi Rapport</label>
            <input type="text" class="form-control" name="doiRapport" id="field_doiRapport"
                [(ngModel)]="rapport.doiRapport" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.rapport.halRapport" for="field_halRapport">Hal Rapport</label>
            <input type="text" class="form-control" name="halRapport" id="field_halRapport"
                [(ngModel)]="rapport.halRapport" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.rapport.diversOuvrageRapport" for="field_diversOuvrageRapport">Divers Ouvrage Rapport</label>
            <input type="text" class="form-control" name="diversOuvrageRapport" id="field_diversOuvrageRapport"
                [(ngModel)]="rapport.diversOuvrageRapport" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
