<div>
    <h2>
        <span jhiTranslate="biblioApp.rapport.home.title">Rapports</span>
        <button class="btn btn-primary float-right jh-create-entity create-rapport" [routerLink]="['/', { outlets: { popup: ['rapport-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="biblioApp.rapport.home.createLabel">
            Create new Rapport
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="rapports">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="biblioApp.rapport.titreRapport">Titre Rapport</span></th>
            <th><span jhiTranslate="biblioApp.rapport.sousTitreRapport">Sous Titre Rapport</span></th>
            <th><span jhiTranslate="biblioApp.rapport.typeRapport">Type Rapport</span></th>
            <th><span jhiTranslate="biblioApp.rapport.statut">Statut</span></th>
            <th><span jhiTranslate="biblioApp.rapport.dateRapport">Date Rapport</span></th>
            <th><span jhiTranslate="biblioApp.rapport.lieuRapport">Lieu Rapport</span></th>
            <th><span jhiTranslate="biblioApp.rapport.maisonEditionRapport">Maison Edition Rapport</span></th>
            <th><span jhiTranslate="biblioApp.rapport.langueRapport">Langue Rapport</span></th>
            <th><span jhiTranslate="biblioApp.rapport.lienRapport">Lien Rapport</span></th>
            <th><span jhiTranslate="biblioApp.rapport.doiRapport">Doi Rapport</span></th>
            <th><span jhiTranslate="biblioApp.rapport.halRapport">Hal Rapport</span></th>
            <th><span jhiTranslate="biblioApp.rapport.diversOuvrageRapport">Divers Ouvrage Rapport</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let rapport of rapports ;trackBy: trackId">
                <td><a [routerLink]="['../rapport', rapport.id ]">{{rapport.id}}</a></td>
                <td>{{rapport.titreRapport}}</td>
                <td>{{rapport.sousTitreRapport}}</td>
                <td jhiTranslate="{{'biblioApp.TypeRapport.' + rapport.typeRapport}}">{{rapport.typeRapport}}</td>
                <td jhiTranslate="{{'biblioApp.Statut.' + rapport.statut}}">{{rapport.statut}}</td>
                <td>{{rapport.dateRapport | date:'medium'}}</td>
                <td>{{rapport.lieuRapport}}</td>
                <td>{{rapport.maisonEditionRapport}}</td>
                <td>{{rapport.langueRapport}}</td>
                <td>{{rapport.lienRapport}}</td>
                <td>{{rapport.doiRapport}}</td>
                <td>{{rapport.halRapport}}</td>
                <td>{{rapport.diversOuvrageRapport}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../rapport', rapport.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'rapport/'+ rapport.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'rapport/'+ rapport.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
