
<div *ngIf="revue">
    <h2><span jhiTranslate="biblioApp.revue.detail.title">Revue</span> {{revue.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="biblioApp.revue.nomRevue">Nom Revue</span></dt>
        <dd>
            <span>{{revue.nomRevue}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.revue.audience">Audience</span></dt>
        <dd>
            <span jhiTranslate="{{'biblioApp.Audience.' + revue.audience}}">{{revue.audience}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.revue.comiteSelection">Comite Selection</span></dt>
        <dd>
            <span>{{revue.comiteSelection}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.revue.langueRevue">Langue Revue</span></dt>
        <dd>
            <span>{{revue.langueRevue}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.revue.lieuRevue">Lieu Revue</span></dt>
        <dd>
            <span>{{revue.lieuRevue}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.revue.lienRevue">Lien Revue</span></dt>
        <dd>
            <span>{{revue.lienRevue}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.revue.diversRevue">Divers Revue</span></dt>
        <dd>
            <span>{{revue.diversRevue}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'revue/'+ revue.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
