<div>
    <h2>
        <span jhiTranslate="biblioApp.revue.home.title">Revues</span>
        <button class="btn btn-primary float-right jh-create-entity create-revue" [routerLink]="['/', { outlets: { popup: ['revue-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="biblioApp.revue.home.createLabel">
            Create new Revue
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="revues">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="biblioApp.revue.nomRevue">Nom Revue</span></th>
            <th><span jhiTranslate="biblioApp.revue.audience">Audience</span></th>
            <th><span jhiTranslate="biblioApp.revue.comiteSelection">Comite Selection</span></th>
            <th><span jhiTranslate="biblioApp.revue.langueRevue">Langue Revue</span></th>
            <th><span jhiTranslate="biblioApp.revue.lieuRevue">Lieu Revue</span></th>
            <th><span jhiTranslate="biblioApp.revue.lienRevue">Lien Revue</span></th>
            <th><span jhiTranslate="biblioApp.revue.diversRevue">Divers Revue</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let revue of revues ;trackBy: trackId">
                <td><a [routerLink]="['../revue', revue.id ]">{{revue.id}}</a></td>
                <td>{{revue.nomRevue}}</td>
                <td jhiTranslate="{{'biblioApp.Audience.' + revue.audience}}">{{revue.audience}}</td>
                <td>{{revue.comiteSelection}}</td>
                <td>{{revue.langueRevue}}</td>
                <td>{{revue.lieuRevue}}</td>
                <td>{{revue.lienRevue}}</td>
                <td>{{revue.diversRevue}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../revue', revue.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'revue/'+ revue.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'revue/'+ revue.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
