<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myNumeroRevueLabel" jhiTranslate="biblioApp.numeroRevue.home.createOrEditLabel">Create or edit a Numero Revue</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!numeroRevue.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="numeroRevue.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.numeroRevue.idNumeroRevue" for="field_idNumeroRevue">Id Numero Revue</label>
            <input type="text" class="form-control" name="idNumeroRevue" id="field_idNumeroRevue"
                [(ngModel)]="numeroRevue.idNumeroRevue" required/>
            <div [hidden]="!(editForm.controls.idNumeroRevue?.dirty && editForm.controls.idNumeroRevue?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.idNumeroRevue?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.numeroRevue.mois" for="field_mois">Mois</label>
            <input type="text" class="form-control" name="mois" id="field_mois"
                [(ngModel)]="numeroRevue.mois" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.numeroRevue.annee" for="field_annee">Annee</label>
            <input type="text" class="form-control" name="annee" id="field_annee"
                [(ngModel)]="numeroRevue.annee" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.numeroRevue.volume" for="field_volume">Volume</label>
            <input type="text" class="form-control" name="volume" id="field_volume"
                [(ngModel)]="numeroRevue.volume" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.numeroRevue.numeroVolume" for="field_numeroVolume">Numero Volume</label>
            <input type="text" class="form-control" name="numeroVolume" id="field_numeroVolume"
                [(ngModel)]="numeroRevue.numeroVolume" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.numeroRevue.lien" for="field_lien">Lien</label>
            <input type="text" class="form-control" name="lien" id="field_lien"
                [(ngModel)]="numeroRevue.lien" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.numeroRevue.doi" for="field_doi">Doi</label>
            <input type="text" class="form-control" name="doi" id="field_doi"
                [(ngModel)]="numeroRevue.doi" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.numeroRevue.revue" for="field_revue">Revue</label>
            <select class="form-control" id="field_revue" name="revue" [(ngModel)]="numeroRevue.revue" >
                <option [ngValue]="null"></option>
                <option [ngValue]="revueOption.id === numeroRevue.revue?.id ? numeroRevue.revue : revueOption" *ngFor="let revueOption of revues; trackBy: trackRevueById">{{revueOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
