
<div *ngIf="numeroRevue">
    <h2><span jhiTranslate="biblioApp.numeroRevue.detail.title">Numero Revue</span> {{numeroRevue.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="biblioApp.numeroRevue.volumeNumeroRevue">Volume Numero Revue</span></dt>
        <dd>
            <span>{{numeroRevue.volumeNumeroRevue}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.numeroRevue.numeroVolumeNumeroRevue">Numero Volume Numero Revue</span></dt>
        <dd>
            <span>{{numeroRevue.numeroVolumeNumeroRevue}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.numeroRevue.moisNumeroRevue">Mois Numero Revue</span></dt>
        <dd>
            <span>{{numeroRevue.moisNumeroRevue}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.numeroRevue.anneeNumeroRevue">Annee Numero Revue</span></dt>
        <dd>
            <span>{{numeroRevue.anneeNumeroRevue}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.numeroRevue.langueNumeroRevue">Langue Numero Revue</span></dt>
        <dd>
            <span>{{numeroRevue.langueNumeroRevue}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.numeroRevue.lienNumeroRevue">Lien Numero Revue</span></dt>
        <dd>
            <span>{{numeroRevue.lienNumeroRevue}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.numeroRevue.doiNumeroRevue">Doi Numero Revue</span></dt>
        <dd>
            <span>{{numeroRevue.doiNumeroRevue}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.numeroRevue.diversNumeroRevue">Divers Numero Revue</span></dt>
        <dd>
            <span>{{numeroRevue.diversNumeroRevue}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.numeroRevue.revue">Revue</span></dt>
        <dd>
            <div *ngIf="numeroRevue.revue">
                <a [routerLink]="['/revue', numeroRevue.revue?.id]">{{numeroRevue.revue?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'numero-revue/'+ numeroRevue.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
