<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myNumeroRevueLabel" jhiTranslate="biblioApp.numeroRevue.home.createOrEditLabel">Create or edit a Numero Revue</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!numeroRevue.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="numeroRevue.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.numeroRevue.volumeNumeroRevue" for="field_volumeNumeroRevue">Volume Numero Revue</label>
            <input type="text" class="form-control" name="volumeNumeroRevue" id="field_volumeNumeroRevue"
                [(ngModel)]="numeroRevue.volumeNumeroRevue" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.numeroRevue.numeroVolumeNumeroRevue" for="field_numeroVolumeNumeroRevue">Numero Volume Numero Revue</label>
            <input type="text" class="form-control" name="numeroVolumeNumeroRevue" id="field_numeroVolumeNumeroRevue"
                [(ngModel)]="numeroRevue.numeroVolumeNumeroRevue" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.numeroRevue.moisNumeroRevue" for="field_moisNumeroRevue">Mois Numero Revue</label>
            <input type="text" class="form-control" name="moisNumeroRevue" id="field_moisNumeroRevue"
                [(ngModel)]="numeroRevue.moisNumeroRevue" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.numeroRevue.anneeNumeroRevue" for="field_anneeNumeroRevue">Annee Numero Revue</label>
            <input type="text" class="form-control" name="anneeNumeroRevue" id="field_anneeNumeroRevue"
                [(ngModel)]="numeroRevue.anneeNumeroRevue" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.numeroRevue.langueNumeroRevue" for="field_langueNumeroRevue">Langue Numero Revue</label>
            <input type="text" class="form-control" name="langueNumeroRevue" id="field_langueNumeroRevue"
                [(ngModel)]="numeroRevue.langueNumeroRevue" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.numeroRevue.lienNumeroRevue" for="field_lienNumeroRevue">Lien Numero Revue</label>
            <input type="text" class="form-control" name="lienNumeroRevue" id="field_lienNumeroRevue"
                [(ngModel)]="numeroRevue.lienNumeroRevue" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.numeroRevue.doiNumeroRevue" for="field_doiNumeroRevue">Doi Numero Revue</label>
            <input type="text" class="form-control" name="doiNumeroRevue" id="field_doiNumeroRevue"
                [(ngModel)]="numeroRevue.doiNumeroRevue" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.numeroRevue.diversNumeroRevue" for="field_diversNumeroRevue">Divers Numero Revue</label>
            <input type="text" class="form-control" name="diversNumeroRevue" id="field_diversNumeroRevue"
                [(ngModel)]="numeroRevue.diversNumeroRevue" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.numeroRevue.revue" for="field_revue">Revue</label>
            <select class="form-control" id="field_revue" name="revue" [(ngModel)]="numeroRevue.revue" >
                <option [ngValue]="null"></option>
                <option [ngValue]="revueOption.id === numeroRevue.revue?.id ? numeroRevue.revue : revueOption" *ngFor="let revueOption of revues; trackBy: trackRevueById">{{revueOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
