<div>
    <h2>
        <span jhiTranslate="biblioApp.chapitre.home.title">Chapitres</span>
        <button class="btn btn-primary float-right jh-create-entity create-chapitre" [routerLink]="['/', { outlets: { popup: ['chapitre-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="biblioApp.chapitre.home.createLabel">
            Create new Chapitre
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="chapitres">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="biblioApp.chapitre.titreChapitre">Titre Chapitre</span></th>
            <th><span jhiTranslate="biblioApp.chapitre.pageDebutChapitre">Page Debut Chapitre</span></th>
            <th><span jhiTranslate="biblioApp.chapitre.pageFinChapitre">Page Fin Chapitre</span></th>
            <th><span jhiTranslate="biblioApp.chapitre.langueChapitre">Langue Chapitre</span></th>
            <th><span jhiTranslate="biblioApp.chapitre.lienChapitre">Lien Chapitre</span></th>
            <th><span jhiTranslate="biblioApp.chapitre.halChapitre">Hal Chapitre</span></th>
            <th><span jhiTranslate="biblioApp.chapitre.diversChapitre">Divers Chapitre</span></th>
            <th><span jhiTranslate="biblioApp.chapitre.ouvrage">Ouvrage</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let chapitre of chapitres ;trackBy: trackId">
                <td><a [routerLink]="['../chapitre', chapitre.id ]">{{chapitre.id}}</a></td>
                <td>{{chapitre.titreChapitre}}</td>
                <td>{{chapitre.pageDebutChapitre}}</td>
                <td>{{chapitre.pageFinChapitre}}</td>
                <td>{{chapitre.langueChapitre}}</td>
                <td>{{chapitre.lienChapitre}}</td>
                <td>{{chapitre.halChapitre}}</td>
                <td>{{chapitre.diversChapitre}}</td>
                <td>
                    <div *ngIf="chapitre.ouvrage">
                        <a [routerLink]="['../ouvrage', chapitre.ouvrage?.id ]" >{{chapitre.ouvrage?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../chapitre', chapitre.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'chapitre/'+ chapitre.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'chapitre/'+ chapitre.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
