<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myChapitreLabel" jhiTranslate="biblioApp.chapitre.home.createOrEditLabel">Create or edit a Chapitre</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!chapitre.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="chapitre.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.chapitre.idChapitre" for="field_idChapitre">Id Chapitre</label>
            <input type="text" class="form-control" name="idChapitre" id="field_idChapitre"
                [(ngModel)]="chapitre.idChapitre" required/>
            <div [hidden]="!(editForm.controls.idChapitre?.dirty && editForm.controls.idChapitre?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.idChapitre?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.chapitre.pageDebut" for="field_pageDebut">Page Debut</label>
            <input type="text" class="form-control" name="pageDebut" id="field_pageDebut"
                [(ngModel)]="chapitre.pageDebut" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.chapitre.pageFin" for="field_pageFin">Page Fin</label>
            <input type="text" class="form-control" name="pageFin" id="field_pageFin"
                [(ngModel)]="chapitre.pageFin" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.chapitre.hal" for="field_hal">Hal</label>
            <input type="text" class="form-control" name="hal" id="field_hal"
                [(ngModel)]="chapitre.hal" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.chapitre.ouvrage" for="field_ouvrage">Ouvrage</label>
            <select class="form-control" id="field_ouvrage" name="ouvrage" [(ngModel)]="chapitre.ouvrage" >
                <option [ngValue]="null"></option>
                <option [ngValue]="ouvrageOption.id === chapitre.ouvrage?.id ? chapitre.ouvrage : ouvrageOption" *ngFor="let ouvrageOption of ouvrages; trackBy: trackOuvrageById">{{ouvrageOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
