<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myChapitreLabel" jhiTranslate="biblioApp.chapitre.home.createOrEditLabel">Create or edit a Chapitre</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!chapitre.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="chapitre.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.chapitre.titreChapitre" for="field_titreChapitre">Titre Chapitre</label>
            <input type="text" class="form-control" name="titreChapitre" id="field_titreChapitre"
                [(ngModel)]="chapitre.titreChapitre" required/>
            <div [hidden]="!(editForm.controls.titreChapitre?.dirty && editForm.controls.titreChapitre?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.titreChapitre?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.chapitre.sousTitreChapitre" for="field_sousTitreChapitre">Sous Titre Chapitre</label>
            <input type="text" class="form-control" name="sousTitreChapitre" id="field_sousTitreChapitre"
                [(ngModel)]="chapitre.sousTitreChapitre" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.chapitre.pageDebutChapitre" for="field_pageDebutChapitre">Page Debut Chapitre</label>
            <input type="text" class="form-control" name="pageDebutChapitre" id="field_pageDebutChapitre"
                [(ngModel)]="chapitre.pageDebutChapitre" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.chapitre.pageFinChapitre" for="field_pageFinChapitre">Page Fin Chapitre</label>
            <input type="text" class="form-control" name="pageFinChapitre" id="field_pageFinChapitre"
                [(ngModel)]="chapitre.pageFinChapitre" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.chapitre.langueChapitre" for="field_langueChapitre">Langue Chapitre</label>
            <input type="text" class="form-control" name="langueChapitre" id="field_langueChapitre"
                [(ngModel)]="chapitre.langueChapitre" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.chapitre.lienChapitre" for="field_lienChapitre">Lien Chapitre</label>
            <input type="text" class="form-control" name="lienChapitre" id="field_lienChapitre"
                [(ngModel)]="chapitre.lienChapitre" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.chapitre.halChapitre" for="field_halChapitre">Hal Chapitre</label>
            <input type="text" class="form-control" name="halChapitre" id="field_halChapitre"
                [(ngModel)]="chapitre.halChapitre" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.chapitre.diversChapitre" for="field_diversChapitre">Divers Chapitre</label>
            <input type="text" class="form-control" name="diversChapitre" id="field_diversChapitre"
                [(ngModel)]="chapitre.diversChapitre" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
