<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myChercheurLabel" jhiTranslate="biblioApp.chercheur.home.createOrEditLabel">Create or edit a Chercheur</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!chercheur.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="chercheur.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.chercheur.nomChercheur" for="field_nomChercheur">Nom Chercheur</label>
            <input type="text" class="form-control" name="nomChercheur" id="field_nomChercheur"
                [(ngModel)]="chercheur.nomChercheur" required/>
            <div [hidden]="!(editForm.controls.nomChercheur?.dirty && editForm.controls.nomChercheur?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nomChercheur?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.chercheur.typeChercheur" for="field_typeChercheur">Type Chercheur</label>
            <select class="form-control" name="typeChercheur" [(ngModel)]="chercheur.typeChercheur" id="field_typeChercheur" >
                <option value="PUBLIANT">{{'biblioApp.TypeChercheur.PUBLIANT' | translate}}</option>
                <option value="ENCADRANT">{{'biblioApp.TypeChercheur.ENCADRANT' | translate}}</option>
                <option value="DIRECTEUR">{{'biblioApp.TypeChercheur.DIRECTEUR' | translate}}</option>
                <option value="EDITIEUR">{{'biblioApp.TypeChercheur.EDITIEUR' | translate}}</option>
                <option value="COORDINATEUR">{{'biblioApp.TypeChercheur.COORDINATEUR' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.chercheur.rangChercheur" for="field_rangChercheur">Rang Chercheur</label>
            <input type="text" class="form-control" name="rangChercheur" id="field_rangChercheur"
                [(ngModel)]="chercheur.rangChercheur" />
        </div>

        <div class="form-group">
            <label jhiTranslate="biblioApp.chercheur.actes" for="field_actes">Actes</label>
            <select class="form-control" id="field_actes" multiple name="actes" [(ngModel)]="chercheur.actes">
                <option [ngValue]="getSelected(chercheur.actes, actesOption)" *ngFor="let actesOption of actes; trackBy: trackActesById">{{actesOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="biblioApp.chercheur.article" for="field_article">Article</label>
            <select class="form-control" id="field_article" multiple name="article" [(ngModel)]="chercheur.articles">
                <option [ngValue]="getSelected(chercheur.articles, articleOption)" *ngFor="let articleOption of articles; trackBy: trackArticleById">{{articleOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="biblioApp.chercheur.chapitre" for="field_chapitre">Chapitre</label>
            <select class="form-control" id="field_chapitre" multiple name="chapitre" [(ngModel)]="chercheur.chapitres">
                <option [ngValue]="getSelected(chercheur.chapitres, chapitreOption)" *ngFor="let chapitreOption of chapitres; trackBy: trackChapitreById">{{chapitreOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="biblioApp.chercheur.communication" for="field_communication">Communication</label>
            <select class="form-control" id="field_communication" multiple name="communication" [(ngModel)]="chercheur.communications">
                <option [ngValue]="getSelected(chercheur.communications, communicationOption)" *ngFor="let communicationOption of communications; trackBy: trackCommunicationById">{{communicationOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="biblioApp.chercheur.ouvrage" for="field_ouvrage">Ouvrage</label>
            <select class="form-control" id="field_ouvrage" multiple name="ouvrage" [(ngModel)]="chercheur.ouvrages">
                <option [ngValue]="getSelected(chercheur.ouvrages, ouvrageOption)" *ngFor="let ouvrageOption of ouvrages; trackBy: trackOuvrageById">{{ouvrageOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="biblioApp.chercheur.publicationGouvernementale" for="field_publicationGouvernementale">Publication Gouvernementale</label>
            <select class="form-control" id="field_publicationGouvernementale" multiple name="publicationGouvernementale" [(ngModel)]="chercheur.publicationGouvernementales">
                <option [ngValue]="getSelected(chercheur.publicationGouvernementales, publicationGouvernementaleOption)" *ngFor="let publicationGouvernementaleOption of publicationgouvernementales; trackBy: trackPublicationGouvernementaleById">{{publicationGouvernementaleOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="biblioApp.chercheur.revue" for="field_revue">Revue</label>
            <select class="form-control" id="field_revue" multiple name="revue" [(ngModel)]="chercheur.revues">
                <option [ngValue]="getSelected(chercheur.revues, numeroRevueOption)" *ngFor="let numeroRevueOption of numerorevues; trackBy: trackNumeroRevueById">{{numeroRevueOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="biblioApp.chercheur.memoire" for="field_memoire">Memoire</label>
            <select class="form-control" id="field_memoire" multiple name="memoire" [(ngModel)]="chercheur.memoires">
                <option [ngValue]="getSelected(chercheur.memoires, memoireOption)" *ngFor="let memoireOption of memoires; trackBy: trackMemoireById">{{memoireOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="biblioApp.chercheur.rapport" for="field_rapport">Rapport</label>
            <select class="form-control" id="field_rapport" multiple name="rapport" [(ngModel)]="chercheur.rapports">
                <option [ngValue]="getSelected(chercheur.rapports, rapportOption)" *ngFor="let rapportOption of rapports; trackBy: trackRapportById">{{rapportOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
