<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myContributionLabel" jhiTranslate="biblioApp.contribution.home.createOrEditLabel">Create or edit a Contribution</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!contribution.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="contribution.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.contribution.idChercheur" for="field_idChercheur">Id Chercheur</label>
            <input type="text" class="form-control" name="idChercheur" id="field_idChercheur"
                [(ngModel)]="contribution.idChercheur" required/>
            <div [hidden]="!(editForm.controls.idChercheur?.dirty && editForm.controls.idChercheur?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.idChercheur?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.contribution.type" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="contribution.type" id="field_type" >
                <option value="PUBLICATION">{{'biblioApp.Participation.PUBLICATION' | translate}}</option>
                <option value="ENCADREMENT">{{'biblioApp.Participation.ENCADREMENT' | translate}}</option>
                <option value="DIRECTION">{{'biblioApp.Participation.DIRECTION' | translate}}</option>
                <option value="EDITION">{{'biblioApp.Participation.EDITION' | translate}}</option>
                <option value="COORDINATION">{{'biblioApp.Participation.COORDINATION' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.contribution.rang" for="field_rang">Rang</label>
            <input type="text" class="form-control" name="rang" id="field_rang"
                [(ngModel)]="contribution.rang" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.contribution.publication" for="field_publication">Publication</label>
            <select class="form-control" id="field_publication" name="publication" [(ngModel)]="contribution.publication">
                <option [ngValue]="null"></option>
                <option [ngValue]="publicationOption.id === contribution.publication?.id ? contribution.publication : publicationOption" *ngFor="let publicationOption of publications; trackBy: trackPublicationById">{{publicationOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.contribution.acte" for="field_acte">Acte</label>
            <select class="form-control" id="field_acte" name="acte" [(ngModel)]="contribution.acte">
                <option [ngValue]="null"></option>
                <option [ngValue]="acteOption.id === contribution.acte?.id ? contribution.acte : acteOption" *ngFor="let acteOption of actes; trackBy: trackActeById">{{acteOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.contribution.ouvrage" for="field_ouvrage">Ouvrage</label>
            <select class="form-control" id="field_ouvrage" name="ouvrage" [(ngModel)]="contribution.ouvrage">
                <option [ngValue]="null"></option>
                <option [ngValue]="ouvrageOption.id === contribution.ouvrage?.id ? contribution.ouvrage : ouvrageOption" *ngFor="let ouvrageOption of ouvrages; trackBy: trackOuvrageById">{{ouvrageOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.contribution.revue" for="field_revue">Revue</label>
            <select class="form-control" id="field_revue" name="revue" [(ngModel)]="contribution.revue">
                <option [ngValue]="null"></option>
                <option [ngValue]="revueOption.id === contribution.revue?.id ? contribution.revue : revueOption" *ngFor="let revueOption of revues; trackBy: trackRevueById">{{revueOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.contribution.memoire" for="field_memoire">Memoire</label>
            <select class="form-control" id="field_memoire" name="memoire" [(ngModel)]="contribution.memoire">
                <option [ngValue]="null"></option>
                <option [ngValue]="memoireOption.id === contribution.memoire?.id ? contribution.memoire : memoireOption" *ngFor="let memoireOption of memoires; trackBy: trackMemoireById">{{memoireOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
