
<div *ngIf="ouvrage">
    <h2><span jhiTranslate="biblioApp.ouvrage.detail.title">Ouvrage</span> {{ouvrage.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="biblioApp.ouvrage.titreOuvrage">Titre Ouvrage</span></dt>
        <dd>
            <span>{{ouvrage.titreOuvrage}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.ouvrage.sousTitreOuvrage">Sous Titre Ouvrage</span></dt>
        <dd>
            <span>{{ouvrage.sousTitreOuvrage}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.ouvrage.typeOuvrage">Type Ouvrage</span></dt>
        <dd>
            <span jhiTranslate="{{'biblioApp.TypeOuvrage.' + ouvrage.typeOuvrage}}">{{ouvrage.typeOuvrage}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.ouvrage.participationOuvrage">Participation Ouvrage</span></dt>
        <dd>
            <span jhiTranslate="{{'biblioApp.TypeParticipation.' + ouvrage.participationOuvrage}}">{{ouvrage.participationOuvrage}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.ouvrage.anneeOuvrage">Annee Ouvrage</span></dt>
        <dd>
            <span>{{ouvrage.anneeOuvrage}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.ouvrage.numeroEditionOuvrage">Numero Edition Ouvrage</span></dt>
        <dd>
            <span>{{ouvrage.numeroEditionOuvrage}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.ouvrage.volumeOuvrage">Volume Ouvrage</span></dt>
        <dd>
            <span>{{ouvrage.volumeOuvrage}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.ouvrage.traductionOuvrage">Traduction Ouvrage</span></dt>
        <dd>
            <span>{{ouvrage.traductionOuvrage}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.ouvrage.lieuOuvrage">Lieu Ouvrage</span></dt>
        <dd>
            <span>{{ouvrage.lieuOuvrage}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.ouvrage.maisonEditionOuvrage">Maison Edition Ouvrage</span></dt>
        <dd>
            <span>{{ouvrage.maisonEditionOuvrage}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.ouvrage.collectionOuvrage">Collection Ouvrage</span></dt>
        <dd>
            <span>{{ouvrage.collectionOuvrage}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.ouvrage.langueOuvrage">Langue Ouvrage</span></dt>
        <dd>
            <span>{{ouvrage.langueOuvrage}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.ouvrage.lienOuvrage">Lien Ouvrage</span></dt>
        <dd>
            <span>{{ouvrage.lienOuvrage}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.ouvrage.doiOuvrage">Doi Ouvrage</span></dt>
        <dd>
            <span>{{ouvrage.doiOuvrage}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.ouvrage.halOuvrage">Hal Ouvrage</span></dt>
        <dd>
            <span>{{ouvrage.halOuvrage}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.ouvrage.diversOuvrage">Divers Ouvrage</span></dt>
        <dd>
            <span>{{ouvrage.diversOuvrage}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ouvrage/'+ ouvrage.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
