<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myOuvrageLabel" jhiTranslate="biblioApp.ouvrage.home.createOrEditLabel">Create or edit a Ouvrage</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!ouvrage.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="ouvrage.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.ouvrage.idOuvrage" for="field_idOuvrage">Id Ouvrage</label>
            <input type="text" class="form-control" name="idOuvrage" id="field_idOuvrage"
                [(ngModel)]="ouvrage.idOuvrage" required/>
            <div [hidden]="!(editForm.controls.idOuvrage?.dirty && editForm.controls.idOuvrage?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.idOuvrage?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.ouvrage.titre" for="field_titre">Titre</label>
            <input type="text" class="form-control" name="titre" id="field_titre"
                [(ngModel)]="ouvrage.titre" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.ouvrage.type" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="ouvrage.type" id="field_type" >
                <option value="SCIENTIFIQUE">{{'biblioApp.TypeOuvrage.SCIENTIFIQUE' | translate}}</option>
                <option value="VULGARISATION">{{'biblioApp.TypeOuvrage.VULGARISATION' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.ouvrage.participation" for="field_participation">Participation</label>
            <select class="form-control" name="participation" [(ngModel)]="ouvrage.participation" id="field_participation" >
                <option value="COMPLETE">{{'biblioApp.TypeParticipation.COMPLETE' | translate}}</option>
                <option value="PARTIELLE">{{'biblioApp.TypeParticipation.PARTIELLE' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.ouvrage.annee" for="field_annee">Annee</label>
            <input type="number" class="form-control" name="annee" id="field_annee"
                [(ngModel)]="ouvrage.annee" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.ouvrage.numeroEdition" for="field_numeroEdition">Numero Edition</label>
            <input type="number" class="form-control" name="numeroEdition" id="field_numeroEdition"
                [(ngModel)]="ouvrage.numeroEdition" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.ouvrage.volume" for="field_volume">Volume</label>
            <input type="number" class="form-control" name="volume" id="field_volume"
                [(ngModel)]="ouvrage.volume" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.ouvrage.traduction" for="field_traduction">Traduction</label>
            <input type="text" class="form-control" name="traduction" id="field_traduction"
                [(ngModel)]="ouvrage.traduction" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.ouvrage.lieu" for="field_lieu">Lieu</label>
            <input type="text" class="form-control" name="lieu" id="field_lieu"
                [(ngModel)]="ouvrage.lieu" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.ouvrage.maisonEdition" for="field_maisonEdition">Maison Edition</label>
            <input type="text" class="form-control" name="maisonEdition" id="field_maisonEdition"
                [(ngModel)]="ouvrage.maisonEdition" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.ouvrage.collection" for="field_collection">Collection</label>
            <input type="text" class="form-control" name="collection" id="field_collection"
                [(ngModel)]="ouvrage.collection" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.ouvrage.hal" for="field_hal">Hal</label>
            <input type="text" class="form-control" name="hal" id="field_hal"
                [(ngModel)]="ouvrage.hal" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
