<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myOuvrageLabel" jhiTranslate="biblioApp.ouvrage.home.createOrEditLabel">Create or edit a Ouvrage</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!ouvrage.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="ouvrage.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.ouvrage.titreOuvrage" for="field_titreOuvrage">Titre Ouvrage</label>
            <input type="text" class="form-control" name="titreOuvrage" id="field_titreOuvrage"
                [(ngModel)]="ouvrage.titreOuvrage" required/>
            <div [hidden]="!(editForm.controls.titreOuvrage?.dirty && editForm.controls.titreOuvrage?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.titreOuvrage?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.ouvrage.sousTitreOuvrage" for="field_sousTitreOuvrage">Sous Titre Ouvrage</label>
            <input type="text" class="form-control" name="sousTitreOuvrage" id="field_sousTitreOuvrage"
                [(ngModel)]="ouvrage.sousTitreOuvrage" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.ouvrage.typeOuvrage" for="field_typeOuvrage">Type Ouvrage</label>
            <select class="form-control" name="typeOuvrage" [(ngModel)]="ouvrage.typeOuvrage" id="field_typeOuvrage"  required>
                <option value="SCIENTIFIQUE">{{'biblioApp.TypeOuvrage.SCIENTIFIQUE' | translate}}</option>
                <option value="VULGARISATION">{{'biblioApp.TypeOuvrage.VULGARISATION' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.typeOuvrage?.dirty && editForm.controls.typeOuvrage?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.typeOuvrage?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.ouvrage.participationOuvrage" for="field_participationOuvrage">Participation Ouvrage</label>
            <select class="form-control" name="participationOuvrage" [(ngModel)]="ouvrage.participationOuvrage" id="field_participationOuvrage" >
                <option value="COMPLETE">{{'biblioApp.TypeParticipation.COMPLETE' | translate}}</option>
                <option value="PARTIELLE">{{'biblioApp.TypeParticipation.PARTIELLE' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.ouvrage.anneeOuvrage" for="field_anneeOuvrage">Annee Ouvrage</label>
            <input type="number" class="form-control" name="anneeOuvrage" id="field_anneeOuvrage"
                [(ngModel)]="ouvrage.anneeOuvrage" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.ouvrage.numeroEditionOuvrage" for="field_numeroEditionOuvrage">Numero Edition Ouvrage</label>
            <input type="number" class="form-control" name="numeroEditionOuvrage" id="field_numeroEditionOuvrage"
                [(ngModel)]="ouvrage.numeroEditionOuvrage" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.ouvrage.volumeOuvrage" for="field_volumeOuvrage">Volume Ouvrage</label>
            <input type="number" class="form-control" name="volumeOuvrage" id="field_volumeOuvrage"
                [(ngModel)]="ouvrage.volumeOuvrage" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.ouvrage.traductionOuvrage" for="field_traductionOuvrage">Traduction Ouvrage</label>
            <input type="text" class="form-control" name="traductionOuvrage" id="field_traductionOuvrage"
                [(ngModel)]="ouvrage.traductionOuvrage" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.ouvrage.lieuOuvrage" for="field_lieuOuvrage">Lieu Ouvrage</label>
            <input type="text" class="form-control" name="lieuOuvrage" id="field_lieuOuvrage"
                [(ngModel)]="ouvrage.lieuOuvrage" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.ouvrage.maisonEditionOuvrage" for="field_maisonEditionOuvrage">Maison Edition Ouvrage</label>
            <input type="text" class="form-control" name="maisonEditionOuvrage" id="field_maisonEditionOuvrage"
                [(ngModel)]="ouvrage.maisonEditionOuvrage" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.ouvrage.collectionOuvrage" for="field_collectionOuvrage">Collection Ouvrage</label>
            <input type="text" class="form-control" name="collectionOuvrage" id="field_collectionOuvrage"
                [(ngModel)]="ouvrage.collectionOuvrage" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.ouvrage.langueOuvrage" for="field_langueOuvrage">Langue Ouvrage</label>
            <input type="text" class="form-control" name="langueOuvrage" id="field_langueOuvrage"
                [(ngModel)]="ouvrage.langueOuvrage" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.ouvrage.lienOuvrage" for="field_lienOuvrage">Lien Ouvrage</label>
            <input type="text" class="form-control" name="lienOuvrage" id="field_lienOuvrage"
                [(ngModel)]="ouvrage.lienOuvrage" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.ouvrage.doiOuvrage" for="field_doiOuvrage">Doi Ouvrage</label>
            <input type="text" class="form-control" name="doiOuvrage" id="field_doiOuvrage"
                [(ngModel)]="ouvrage.doiOuvrage" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.ouvrage.halOuvrage" for="field_halOuvrage">Hal Ouvrage</label>
            <input type="text" class="form-control" name="halOuvrage" id="field_halOuvrage"
                [(ngModel)]="ouvrage.halOuvrage" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.ouvrage.diversOuvrage" for="field_diversOuvrage">Divers Ouvrage</label>
            <input type="text" class="form-control" name="diversOuvrage" id="field_diversOuvrage"
                [(ngModel)]="ouvrage.diversOuvrage" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
