<div>
    <h2>
        <span jhiTranslate="biblioApp.ouvrage.home.title">Ouvrages</span>
        <button class="btn btn-primary float-right jh-create-entity create-ouvrage" [routerLink]="['/', { outlets: { popup: ['ouvrage-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="biblioApp.ouvrage.home.createLabel">
            Create new Ouvrage
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="ouvrages">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="biblioApp.ouvrage.titreOuvrage">Titre Ouvrage</span></th>
            <th><span jhiTranslate="biblioApp.ouvrage.typeOuvrage">Type Ouvrage</span></th>
            <th><span jhiTranslate="biblioApp.ouvrage.participationOuvrage">Participation Ouvrage</span></th>
            <th><span jhiTranslate="biblioApp.ouvrage.anneeOuvrage">Annee Ouvrage</span></th>
            <th><span jhiTranslate="biblioApp.ouvrage.numeroEditionOuvrage">Numero Edition Ouvrage</span></th>
            <th><span jhiTranslate="biblioApp.ouvrage.volumeOuvrage">Volume Ouvrage</span></th>
            <th><span jhiTranslate="biblioApp.ouvrage.traductionOuvrage">Traduction Ouvrage</span></th>
            <th><span jhiTranslate="biblioApp.ouvrage.lieuOuvrage">Lieu Ouvrage</span></th>
            <th><span jhiTranslate="biblioApp.ouvrage.maisonEditionOuvrage">Maison Edition Ouvrage</span></th>
            <th><span jhiTranslate="biblioApp.ouvrage.collectionOuvrage">Collection Ouvrage</span></th>
            <th><span jhiTranslate="biblioApp.ouvrage.langueOuvrage">Langue Ouvrage</span></th>
            <th><span jhiTranslate="biblioApp.ouvrage.lienOuvrage">Lien Ouvrage</span></th>
            <th><span jhiTranslate="biblioApp.ouvrage.doiOuvrage">Doi Ouvrage</span></th>
            <th><span jhiTranslate="biblioApp.ouvrage.halOuvrage">Hal Ouvrage</span></th>
            <th><span jhiTranslate="biblioApp.ouvrage.diversOuvrage">Divers Ouvrage</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ouvrage of ouvrages ;trackBy: trackId">
                <td><a [routerLink]="['../ouvrage', ouvrage.id ]">{{ouvrage.id}}</a></td>
                <td>{{ouvrage.titreOuvrage}}</td>
                <td jhiTranslate="{{'biblioApp.TypeOuvrage.' + ouvrage.typeOuvrage}}">{{ouvrage.typeOuvrage}}</td>
                <td jhiTranslate="{{'biblioApp.TypeParticipation.' + ouvrage.participationOuvrage}}">{{ouvrage.participationOuvrage}}</td>
                <td>{{ouvrage.anneeOuvrage}}</td>
                <td>{{ouvrage.numeroEditionOuvrage}}</td>
                <td>{{ouvrage.volumeOuvrage}}</td>
                <td>{{ouvrage.traductionOuvrage}}</td>
                <td>{{ouvrage.lieuOuvrage}}</td>
                <td>{{ouvrage.maisonEditionOuvrage}}</td>
                <td>{{ouvrage.collectionOuvrage}}</td>
                <td>{{ouvrage.langueOuvrage}}</td>
                <td>{{ouvrage.lienOuvrage}}</td>
                <td>{{ouvrage.doiOuvrage}}</td>
                <td>{{ouvrage.halOuvrage}}</td>
                <td>{{ouvrage.diversOuvrage}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../ouvrage', ouvrage.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ouvrage/'+ ouvrage.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ouvrage/'+ ouvrage.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
