<div>
    <h2>
        <span jhiTranslate="biblioApp.acte.home.title">Actes</span>
        <button class="btn btn-primary float-right jh-create-entity create-acte" [routerLink]="['/', { outlets: { popup: ['acte-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="biblioApp.acte.home.createLabel">
            Create new Acte
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="actes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="biblioApp.acte.idActe">Id Acte</span></th>
            <th><span jhiTranslate="biblioApp.acte.titre">Titre</span></th>
            <th><span jhiTranslate="biblioApp.acte.type">Type</span></th>
            <th><span jhiTranslate="biblioApp.acte.annee">Annee</span></th>
            <th><span jhiTranslate="biblioApp.acte.numeroEdition">Numero Edition</span></th>
            <th><span jhiTranslate="biblioApp.acte.volume">Volume</span></th>
            <th><span jhiTranslate="biblioApp.acte.traduction">Traduction</span></th>
            <th><span jhiTranslate="biblioApp.acte.lieu">Lieu</span></th>
            <th><span jhiTranslate="biblioApp.acte.maisonEdition">Maison Edition</span></th>
            <th><span jhiTranslate="biblioApp.acte.collection">Collection</span></th>
            <th><span jhiTranslate="biblioApp.acte.hal">Hal</span></th>
            <th><span jhiTranslate="biblioApp.acte.conference">Conference</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let acte of actes ;trackBy: trackId">
                <td><a [routerLink]="['../acte', acte.id ]">{{acte.id}}</a></td>
                <td>{{acte.idActe}}</td>
                <td>{{acte.titre}}</td>
                <td>{{acte.type}}</td>
                <td>{{acte.annee}}</td>
                <td>{{acte.numeroEdition}}</td>
                <td>{{acte.volume}}</td>
                <td>{{acte.traduction}}</td>
                <td>{{acte.lieu}}</td>
                <td>{{acte.maisonEdition}}</td>
                <td>{{acte.collection}}</td>
                <td>{{acte.hal}}</td>
                <td>
                    <div *ngIf="acte.conference">
                        <a [routerLink]="['../conference', acte.conference?.id ]" >{{acte.conference?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../acte', acte.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'acte/'+ acte.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'acte/'+ acte.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
