
<div *ngIf="acte">
    <h2><span jhiTranslate="biblioApp.acte.detail.title">Acte</span> {{acte.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="biblioApp.acte.idActe">Id Acte</span></dt>
        <dd>
            <span>{{acte.idActe}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.acte.titre">Titre</span></dt>
        <dd>
            <span>{{acte.titre}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.acte.type">Type</span></dt>
        <dd>
            <span>{{acte.type}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.acte.annee">Annee</span></dt>
        <dd>
            <span>{{acte.annee}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.acte.numeroEdition">Numero Edition</span></dt>
        <dd>
            <span>{{acte.numeroEdition}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.acte.volume">Volume</span></dt>
        <dd>
            <span>{{acte.volume}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.acte.traduction">Traduction</span></dt>
        <dd>
            <span>{{acte.traduction}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.acte.lieu">Lieu</span></dt>
        <dd>
            <span>{{acte.lieu}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.acte.maisonEdition">Maison Edition</span></dt>
        <dd>
            <span>{{acte.maisonEdition}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.acte.collection">Collection</span></dt>
        <dd>
            <span>{{acte.collection}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.acte.hal">Hal</span></dt>
        <dd>
            <span>{{acte.hal}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.acte.conference">Conference</span></dt>
        <dd>
            <div *ngIf="acte.conference">
                <a [routerLink]="['/conference', acte.conference?.id]">{{acte.conference?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'acte/'+ acte.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
