<div>
    <h2>
        <span jhiTranslate="biblioApp.memoire.home.title">Memoires</span>
        <button class="btn btn-primary float-right jh-create-entity create-memoire" [routerLink]="['/', { outlets: { popup: ['memoire-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="biblioApp.memoire.home.createLabel">
            Create new Memoire
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="memoires">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="biblioApp.memoire.titreMemoire">Titre Memoire</span></th>
            <th><span jhiTranslate="biblioApp.memoire.typeMemoire">Type Memoire</span></th>
            <th><span jhiTranslate="biblioApp.memoire.dateMemoire">Date Memoire</span></th>
            <th><span jhiTranslate="biblioApp.memoire.lieuMemoire">Lieu Memoire</span></th>
            <th><span jhiTranslate="biblioApp.memoire.langueMemoire">Langue Memoire</span></th>
            <th><span jhiTranslate="biblioApp.memoire.lienMemoire">Lien Memoire</span></th>
            <th><span jhiTranslate="biblioApp.memoire.doiMemoire">Doi Memoire</span></th>
            <th><span jhiTranslate="biblioApp.memoire.halMemoire">Hal Memoire</span></th>
            <th><span jhiTranslate="biblioApp.memoire.diversMemoire">Divers Memoire</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let memoire of memoires ;trackBy: trackId">
                <td><a [routerLink]="['../memoire', memoire.id ]">{{memoire.id}}</a></td>
                <td>{{memoire.titreMemoire}}</td>
                <td jhiTranslate="{{'biblioApp.TypeMemoire.' + memoire.typeMemoire}}">{{memoire.typeMemoire}}</td>
                <td>{{memoire.dateMemoire | date:'medium'}}</td>
                <td>{{memoire.lieuMemoire}}</td>
                <td>{{memoire.langueMemoire}}</td>
                <td>{{memoire.lienMemoire}}</td>
                <td>{{memoire.doiMemoire}}</td>
                <td>{{memoire.halMemoire}}</td>
                <td>{{memoire.diversMemoire}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../memoire', memoire.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'memoire/'+ memoire.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'memoire/'+ memoire.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
