<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMemoireLabel" jhiTranslate="biblioApp.memoire.home.createOrEditLabel">Create or edit a Memoire</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!memoire.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="memoire.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.memoire.titreMemoire" for="field_titreMemoire">Titre Memoire</label>
            <input type="text" class="form-control" name="titreMemoire" id="field_titreMemoire"
                [(ngModel)]="memoire.titreMemoire" required/>
            <div [hidden]="!(editForm.controls.titreMemoire?.dirty && editForm.controls.titreMemoire?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.titreMemoire?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.memoire.sousTitreMemoire" for="field_sousTitreMemoire">Sous Titre Memoire</label>
            <input type="text" class="form-control" name="sousTitreMemoire" id="field_sousTitreMemoire"
                [(ngModel)]="memoire.sousTitreMemoire" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.memoire.typeMemoire" for="field_typeMemoire">Type Memoire</label>
            <select class="form-control" name="typeMemoire" [(ngModel)]="memoire.typeMemoire" id="field_typeMemoire"  required>
                <option value="THESE">{{'biblioApp.TypeMemoire.THESE' | translate}}</option>
                <option value="HDR">{{'biblioApp.TypeMemoire.HDR' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.typeMemoire?.dirty && editForm.controls.typeMemoire?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.typeMemoire?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.memoire.dateMemoire" for="field_dateMemoire">Date Memoire</label>
            <div class="d-flex">
                <input id="field_dateMemoire" type="datetime-local" class="form-control" name="dateMemoire" [(ngModel)]="memoire.dateMemoire"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.memoire.lieuMemoire" for="field_lieuMemoire">Lieu Memoire</label>
            <input type="text" class="form-control" name="lieuMemoire" id="field_lieuMemoire"
                [(ngModel)]="memoire.lieuMemoire" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.memoire.langueMemoire" for="field_langueMemoire">Langue Memoire</label>
            <input type="text" class="form-control" name="langueMemoire" id="field_langueMemoire"
                [(ngModel)]="memoire.langueMemoire" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.memoire.lienMemoire" for="field_lienMemoire">Lien Memoire</label>
            <input type="text" class="form-control" name="lienMemoire" id="field_lienMemoire"
                [(ngModel)]="memoire.lienMemoire" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.memoire.doiMemoire" for="field_doiMemoire">Doi Memoire</label>
            <input type="text" class="form-control" name="doiMemoire" id="field_doiMemoire"
                [(ngModel)]="memoire.doiMemoire" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.memoire.halMemoire" for="field_halMemoire">Hal Memoire</label>
            <input type="text" class="form-control" name="halMemoire" id="field_halMemoire"
                [(ngModel)]="memoire.halMemoire" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.memoire.diversMemoire" for="field_diversMemoire">Divers Memoire</label>
            <input type="text" class="form-control" name="diversMemoire" id="field_diversMemoire"
                [(ngModel)]="memoire.diversMemoire" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
