
<div *ngIf="memoire">
    <h2><span jhiTranslate="biblioApp.memoire.detail.title">Memoire</span> {{memoire.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="biblioApp.memoire.titreMemoire">Titre Memoire</span></dt>
        <dd>
            <span>{{memoire.titreMemoire}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.memoire.sousTitreMemoire">Sous Titre Memoire</span></dt>
        <dd>
            <span>{{memoire.sousTitreMemoire}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.memoire.typeMemoire">Type Memoire</span></dt>
        <dd>
            <span jhiTranslate="{{'biblioApp.TypeMemoire.' + memoire.typeMemoire}}">{{memoire.typeMemoire}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.memoire.dateMemoire">Date Memoire</span></dt>
        <dd>
            <span>{{memoire.dateMemoire | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.memoire.lieuMemoire">Lieu Memoire</span></dt>
        <dd>
            <span>{{memoire.lieuMemoire}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.memoire.langueMemoire">Langue Memoire</span></dt>
        <dd>
            <span>{{memoire.langueMemoire}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.memoire.lienMemoire">Lien Memoire</span></dt>
        <dd>
            <span>{{memoire.lienMemoire}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.memoire.doiMemoire">Doi Memoire</span></dt>
        <dd>
            <span>{{memoire.doiMemoire}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.memoire.halMemoire">Hal Memoire</span></dt>
        <dd>
            <span>{{memoire.halMemoire}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.memoire.diversMemoire">Divers Memoire</span></dt>
        <dd>
            <span>{{memoire.diversMemoire}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'memoire/'+ memoire.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
