
<div *ngIf="memoire">
    <h2><span jhiTranslate="biblioApp.memoire.detail.title">Memoire</span> {{memoire.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="biblioApp.memoire.idMemoire">Id Memoire</span></dt>
        <dd>
            <span>{{memoire.idMemoire}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.memoire.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'biblioApp.TypeMemoire.' + memoire.type}}">{{memoire.type}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.memoire.date">Date</span></dt>
        <dd>
            <span>{{memoire.date | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.memoire.lieu">Lieu</span></dt>
        <dd>
            <span>{{memoire.lieu}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.memoire.hal">Hal</span></dt>
        <dd>
            <span>{{memoire.hal}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'memoire/'+ memoire.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
