<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myNotationLabel" jhiTranslate="biblioApp.notation.home.createOrEditLabel">Create or edit a Notation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!notation.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="notation.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.notation.idNotation" for="field_idNotation">Id Notation</label>
            <input type="text" class="form-control" name="idNotation" id="field_idNotation"
                [(ngModel)]="notation.idNotation" required/>
            <div [hidden]="!(editForm.controls.idNotation?.dirty && editForm.controls.idNotation?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.idNotation?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.notation.cnu" for="field_cnu">Cnu</label>
            <input type="text" class="form-control" name="cnu" id="field_cnu"
                [(ngModel)]="notation.cnu" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.notation.rang" for="field_rang">Rang</label>
            <select class="form-control" name="rang" [(ngModel)]="notation.rang" id="field_rang" >
                <option value="A">{{'biblioApp.Rang.A' | translate}}</option>
                <option value="B">{{'biblioApp.Rang.B' | translate}}</option>
                <option value="C">{{'biblioApp.Rang.C' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.notation.debut" for="field_debut">Debut</label>
            <input type="text" class="form-control" name="debut" id="field_debut"
                [(ngModel)]="notation.debut" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.notation.fin" for="field_fin">Fin</label>
            <input type="text" class="form-control" name="fin" id="field_fin"
                [(ngModel)]="notation.fin" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.notation.conference" for="field_conference">Conference</label>
            <select class="form-control" id="field_conference" name="conference" [(ngModel)]="notation.conference" >
                <option [ngValue]="null"></option>
                <option [ngValue]="conferenceOption.id === notation.conference?.id ? notation.conference : conferenceOption" *ngFor="let conferenceOption of conferences; trackBy: trackConferenceById">{{conferenceOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.notation.memoire" for="field_memoire">Memoire</label>
            <select class="form-control" id="field_memoire" name="memoire" [(ngModel)]="notation.memoire" >
                <option [ngValue]="null"></option>
                <option [ngValue]="memoireOption.id === notation.memoire?.id ? notation.memoire : memoireOption" *ngFor="let memoireOption of memoires; trackBy: trackMemoireById">{{memoireOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.notation.ouvrage" for="field_ouvrage">Ouvrage</label>
            <select class="form-control" id="field_ouvrage" name="ouvrage" [(ngModel)]="notation.ouvrage" >
                <option [ngValue]="null"></option>
                <option [ngValue]="ouvrageOption.id === notation.ouvrage?.id ? notation.ouvrage : ouvrageOption" *ngFor="let ouvrageOption of ouvrages; trackBy: trackOuvrageById">{{ouvrageOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.notation.publicationGouvernementale" for="field_publicationGouvernementale">Publication Gouvernementale</label>
            <select class="form-control" id="field_publicationGouvernementale" name="publicationGouvernementale" [(ngModel)]="notation.publicationGouvernementale" >
                <option [ngValue]="null"></option>
                <option [ngValue]="publicationGouvernementaleOption.id === notation.publicationGouvernementale?.id ? notation.publicationGouvernementale : publicationGouvernementaleOption" *ngFor="let publicationGouvernementaleOption of publicationgouvernementales; trackBy: trackPublicationGouvernementaleById">{{publicationGouvernementaleOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.notation.rapport" for="field_rapport">Rapport</label>
            <select class="form-control" id="field_rapport" name="rapport" [(ngModel)]="notation.rapport" >
                <option [ngValue]="null"></option>
                <option [ngValue]="rapportOption.id === notation.rapport?.id ? notation.rapport : rapportOption" *ngFor="let rapportOption of rapports; trackBy: trackRapportById">{{rapportOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="biblioApp.notation.revue" for="field_revue">Revue</label>
            <select class="form-control" id="field_revue" name="revue" [(ngModel)]="notation.revue" >
                <option [ngValue]="null"></option>
                <option [ngValue]="revueOption.id === notation.revue?.id ? notation.revue : revueOption" *ngFor="let revueOption of revues; trackBy: trackRevueById">{{revueOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
