
<div *ngIf="notation">
    <h2><span jhiTranslate="biblioApp.notation.detail.title">Notation</span> {{notation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="biblioApp.notation.idNotation">Id Notation</span></dt>
        <dd>
            <span>{{notation.idNotation}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.notation.cnu">Cnu</span></dt>
        <dd>
            <span>{{notation.cnu}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.notation.rang">Rang</span></dt>
        <dd>
            <span jhiTranslate="{{'biblioApp.Rang.' + notation.rang}}">{{notation.rang}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.notation.debut">Debut</span></dt>
        <dd>
            <span>{{notation.debut}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.notation.fin">Fin</span></dt>
        <dd>
            <span>{{notation.fin}}</span>
        </dd>
        <dt><span jhiTranslate="biblioApp.notation.conference">Conference</span></dt>
        <dd>
            <div *ngIf="notation.conference">
                <a [routerLink]="['/conference', notation.conference?.id]">{{notation.conference?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="biblioApp.notation.memoire">Memoire</span></dt>
        <dd>
            <div *ngIf="notation.memoire">
                <a [routerLink]="['/memoire', notation.memoire?.id]">{{notation.memoire?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="biblioApp.notation.ouvrage">Ouvrage</span></dt>
        <dd>
            <div *ngIf="notation.ouvrage">
                <a [routerLink]="['/ouvrage', notation.ouvrage?.id]">{{notation.ouvrage?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="biblioApp.notation.publicationGouvernementale">Publication Gouvernementale</span></dt>
        <dd>
            <div *ngIf="notation.publicationGouvernementale">
                <a [routerLink]="['/publication-gouvernementale', notation.publicationGouvernementale?.id]">{{notation.publicationGouvernementale?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="biblioApp.notation.rapport">Rapport</span></dt>
        <dd>
            <div *ngIf="notation.rapport">
                <a [routerLink]="['/rapport', notation.rapport?.id]">{{notation.rapport?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="biblioApp.notation.revue">Revue</span></dt>
        <dd>
            <div *ngIf="notation.revue">
                <a [routerLink]="['/revue', notation.revue?.id]">{{notation.revue?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'notation/'+ notation.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
